.container{
  width: 97.5%;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  height: auto;
}
#content-list-assignment{
  height: auto;
}
